<!doctype HTML>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link href="jsPsych/css/jspsych.css" type="text/css" rel="stylesheet"/>
        <link href="css/experiment.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div class = "parent">
            <div class = "child">
                <div id="jspsych_target">
                    <h1>Thank you for participating!</h1>
                </div>
            </div>
        </div>
    </body>
</html>